.invalid {
    -fx-background-color: #ff00003f;
    -fx-background-radius: 3px;
    -fx-border-style: solid outside;
    -fx-border-color: #ff0000;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}

